################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/src/conectabairro/.vs/conectabairro
/src/conectabairro/appsettings.Development.json
/.vs/pmv-ads-2025-2-e2-proj-int-t5-conectabairro/FileContentIndex/d99b5f72-a158-4805-8c57-f4ae236c3567.vsidx

# Arquivos de Build/Compilação
[Bb]in/
[Oo]bj/

# Visual Studio e Arquivos Temporários
.vs/
*.suo
*.user

# Arquivos de Pacotes e Restauração
.nuget/

# Logs e cache de runtime
*.log
*.cache
